* {
  box-sizing: border-box;
}

input:focus {
 border:1px solid white ;
 caret-color: black;
}

body {
background: rgb(252,217,0);
background: linear-gradient(90deg, rgba(252,217,0,1) 8%, rgba(252,175,0,1) 35%, rgba(255,74,0,1) 100%);
position: relative;
}

input {
 border-radius: 5px;
}

.search-container {
 width: 400px;
 height: 30px;
 margin: 0px auto;

 
}

.search-container input,
.search-container .suggestions {
 width: 400px; 
 margin: 0px auto;
 background-color:rgb(236,230,228,0.4);
 position: absolute;
 
 
}

.search-container input {
  padding: 10px;
  top: 250px;
}

.search-container .suggestions {
  margin: 0px auto;
  top: 290px;
}

ul {
  padding: 0px;
  margin: 0px;
}

ul.has-suggestions {
  font-weight: bold;
}

ul li {
  